.home {

  @media @phone {
    justify-content:center;
  }//home media end
  header img {
    justify-content:center;

    @media @phone{
      width:90%;
    }//header img media end
}// header img end
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @phone {
       flex-direction:column;
       width:90%;
       justify-content:center;
    }//content section media end

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }//text content end

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }//img end
    }//img content end
  }//content section end

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

      .bbtn{
        display:flex;
        align-items:center;


         .btn{
           background-color:@button-bg;
           border-radius:10%;
           height:30px;
           width:100%;
           text-align:center;
           padding-top:3%;
           font-size:1.5rem;
           color:@white;
          
           
         }// btn end
      }//bbtn end

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }//destination end
  } //content pick end
}// home
