// Navigation Styles here

.nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding:2%;

    width: 100%;
    border-bottom: 2px dashed silver;
@media @phone {
    flex-direction:column;
    justify-content:center;
    padding:2%;
    }
    h1{
        margin-left:8%;
        @media @phone {
            margin-left:0%;
        }
    }
    nav{
        display:flex;
        width:30%;
        justify-content:space-evenly;
        margin-right:6%;
        @media @phone {
            
            width:90%;
            justify-content:space-between;
            align-items:center ;
        }
    
        a{
        font-size:1.5rem;
        text-decoration:none;
        font-family: 'Roboto', sans-serif;
        color:@shark;
    }// emd pf links
}
}// end of .navAndHeader
